Congratulations – you have been hired as Chief Data Scientist of MedCamp – a not for profit organization dedicated in making health conditions for working professionals better. MedCamp was started because the founders saw their family suffer due to bad work life balance and neglected health.

MedCamp organizes health camps in several cities with low work life balance. They reach out to working people and ask them to register for these health camps. For those who attend, MedCamp provides them facility to undergo health checks or increase awareness by visiting various stalls (depending on the format of camp). 

MedCamp has conducted 65 such events over a period of 4 years and they see a high drop off between “Registration” and Number of people taking tests at the Camps. In last 4 years, they have stored data of ~110,000 registrations they have done.

One of the huge costs in arranging these camps is the amount of inventory you need to carry. If you carry more than required inventory, you incur unnecessarily high costs. On the other hand, if you carry less than required inventory for conducting these medical checks, people end up having bad experience.

 

The Process:
MedCamp employees / volunteers reach out to people and drive registrations.
During the camp, People who “ShowUp” either undergo the medical tests or visit stalls depending on the format of health camp.
 

Other things to note:
Since this is a completely voluntary activity for the working professionals, MedCamp usually has little profile information about these people.
For a few camps, there was hardware failure, so some information about date and time of registration is lost.
MedCamp runs 3 formats of these camps. The first and second format provides people with an instantaneous health score. The third format provides information about several health issues through various awareness stalls.

Favorable outcome:
For the first 2 formats, a favourable outcome is defined as getting a health_score, while in the third format it is defined as visiting at least a stall.
You need to predict the chances (probability) of having a favourable outcome.

In [34]:
# Importing the libraries

In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None
plt.rcParams['figure.figsize']=[15,15]

In [35]:
# Importing the files

In [2]:
train = pd.read_csv('~/Downloads/healthcare/Train.csv')
test = pd.read_csv('~/Downloads/healthcare/test_l0Auv8Q.csv')
fhc = pd.read_csv('~/Downloads/healthcare/First_Health_Camp_Attended.csv')
hcd = pd.read_csv('~/Downloads/healthcare/Health_Camp_Detail.csv')
pp = pd.read_csv('~/Downloads/healthcare/Patient_Profile.csv')
shc = pd.read_csv('~/Downloads/healthcare/Second_Health_Camp_Attended.csv')
thc = pd.read_csv('~/Downloads/healthcare/Third_Health_Camp_Attended.csv')

In [36]:
# checking the initial shape of the data

In [4]:
train.shape, test.shape

((75278, 8), (35249, 8))

In [37]:
# combining the train and test data

In [7]:
combined = pd.concat([train,test], ignore_index= True)

In [8]:
combined.shape

(110527, 8)

In [11]:
combined.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [9]:
train.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [10]:
fhc.head(3)

   Patient_ID  Health_Camp_ID  Donation  Health_Score  Unnamed: 4
0      506181            6560        40      0.439024         NaN
1      494977            6560        20      0.097561         NaN
2      518680            6560        10      0.048780         NaN

In [12]:
# merge fhc with combined

In [13]:
combined = pd.merge(left = combined , right = fhc, on=['Patient_ID','Health_Camp_ID'], how= 'left')

In [14]:
combined.shape

(110527, 11)

In [15]:
shc.head()

   Patient_ID  Health_Camp_ID  Health Score
0      526631            6536      0.875136
1      509122            6536      0.755700
2      498864            6536      0.673181
3      515398            6536      0.722041
4      504624            6536      0.464712

In [16]:
# merge shc with combined

In [17]:
combined = pd.merge(left = combined , right = shc, on=['Patient_ID','Health_Camp_ID'], how= 'left')

In [18]:
# merge thc with combined

In [19]:
thc.head()

,Patient_ID,Health_Camp_ID,Number_of_stall_visited,Last_Stall_Visited_Number
0,517875,6527,3,1
1,504692,6578,1,1
2,504692,6527,3,1
3,493167,6527,4,4
4,510954,6528,2,2

In [20]:
combined = pd.merge(left = combined , right = thc, on=['Patient_ID','Health_Camp_ID'], how= 'left')

In [22]:
combined.shape

(110527, 14)

In [21]:
hcd.head()

   Health_Camp_ID Camp_Start_Date Camp_End_Date Category1 Category2  Category3
0            6560       16-Aug-03     20-Aug-03     First         B          2
1            6530       16-Aug-03     28-Oct-03     First         C          2
2            6544       03-Nov-03     15-Nov-03     First         F          1
3            6585       22-Nov-03     05-Dec-03     First         E          2
4            6561       30-Nov-03     18-Dec-03     First         E          1

In [23]:
# # merge hcd with combined

In [24]:
combined = pd.merge(left = combined , right = hcd, on='Health_Camp_ID', how= 'left')

In [25]:
# merge pp with combined

In [26]:
pp.head()

,Patient_ID,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category
0,516956,0,0,0,0,1,90,39,18-Jun-03,NaN,Software Industry
1,507733,0,0,0,0,1,None,40,20-Jul-03,H,Software Industry
2,508307,0,0,0,0,3,87,46,02-Nov-02,D,BFSI
3,512612,0,0,0,0,1,75,47,02-Nov-02,D,Education
4,521075,0,0,0,0,3,None,80,24-Nov-02,H,Others

In [27]:
combined = pd.merge(left = combined , right = pp, on='Patient_ID', how= 'left')

In [28]:
combined.shape

(110527, 29)

In [32]:
combined.head(10)

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category
0,489652,6578,10-Sep-05,4,0,0,0,2,NaN,NaN,NaN,NaN,2.0,1.0,16-Aug-05,14-Oct-05,Third,G,2,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
1,507246,6578,18-Aug-05,45,5,0,0,7,NaN,NaN,NaN,NaN,NaN,NaN,16-Aug-05,14-Oct-05,Third,G,2,0,0,0,0,1,75,40,08-Sep-04,C,Others
2,523729,6534,29-Apr-06,0,0,0,0,0,NaN,NaN,NaN,0.402054,NaN,NaN,17-Oct-05,07-Nov-07,Second,A,2,0,0,0,0,None,None,None,22-Jun-04,NaN,NaN
3,524931,6535,07-Feb-04,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,01-Feb-04,18-Feb-04,First,E,2,0,0,0,0,None,None,None,07-Feb-04,I,NaN
4,521364,6529,28-Feb-06,15,1,0,0,7,NaN,NaN,NaN,0.845597,NaN,NaN,30-Mar-06,03-Apr-06,Second,A,2,0,0,0,1,1,70,40,04-Jul-03,I,Technology
5,494493,6570,20-May-05,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,09-Jul-05,22-Jul-05,First,E,2,0,0,0,0,None,None,None,01-Feb-04,NaN,NaN
6,523001,6562,22-May-05,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,24-Nov-04,02-Jun-05,First,F,2,0,0,0,0,None,None,None,07-Apr-05,NaN,NaN
7,500733,6535,31-Jan-04,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,01-Feb-04,18-Feb-04,First,E,2,0,0,0,0,None,None,None,23-Mar-03,D,NaN
8,501155,6538,31-Jan-04,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,09-Jan-04,04-Feb-05,First,F,2,0,0,0,0,None,None,None,31-Jan-04,B,NaN
9,501457,6538,12-Aug-04,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,09-Jan-04,04-Feb-05,First,F,2,0,0,0,0,0,None,None,28-Jan-03,B,NaN

### FEATURE ENGINEERING

In [45]:
# code to convert string to date
combined['Registration_Date'] = pd.to_datetime(combined.Registration_Date, dayfirst = True)
combined['Registration_Month'] = combined.Registration_Date.dt.month
combined['Registration_Year'] = combined.Registration_Date.dt.year
combined['Registration_Day'] = combined.Registration_Date.dt.day

In [46]:
combined['Camp_Start_Month'] = pd.DatetimeIndex(combined.Camp_Start_Date).month
combined['Camp_Start_Year'] = pd.DatetimeIndex(combined.Camp_Start_Date).year
combined['Camp_Start_Day'] = pd.DatetimeIndex(combined.Camp_Start_Date).day

combined['Camp_End_Month'] = pd.DatetimeIndex(combined.Camp_End_Date).month
combined['Camp_End_Year'] = pd.DatetimeIndex(combined.Camp_End_Date).year
combined['Camp_End_Day'] = pd.DatetimeIndex(combined.Camp_End_Date).day

In [72]:
combined.head(10)

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category,Registration_Month,Registration_Year,Registration_Day,Camp_Start_Month,Camp_Start_Year,Camp_Start_Day,Camp_End_Month,Camp_End_Year,Camp_End_Day,Online_presence,Camp_Duration,Interaction_Diff,HC_per_patient,Patient_per_HC,Patient_per_year,Patient_per_month
0,489652,6578,2005-09-10,4,0,0,0,2,NaN,NaN,NaN,NaN,2.0,1.0,2005-08-16,2005-10-14,Third,G,2,None,None,None,2004-12-06,NaN,NaN,9.0,2005.0,10.0,8,2005,16,10,2005,14,0,59,278.0,11,2837,22359,10445
1,507246,6578,2005-08-18,45,5,0,0,7,NaN,NaN,NaN,NaN,NaN,NaN,2005-08-16,2005-10-14,Third,G,2,1,75,40,2004-09-08,C,Others,8.0,2005.0,18.0,8,2005,16,10,2005,14,0,59,344.0,26,2837,22359,10445
2,523729,6534,2006-04-29,0,0,0,0,0,NaN,NaN,NaN,0.402054,NaN,NaN,2005-10-17,2007-11-07,Second,A,2,None,None,None,2004-06-22,NaN,NaN,4.0,2006.0,29.0,10,2005,17,11,2007,7,0,751,676.0,7,3597,22359,8242
3,524931,6535,2004-02-07,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-01,2004-02-18,First,E,2,None,None,None,2004-02-07,I,NaN,2.0,2004.0,7.0,2,2004,1,2,2004,18,0,17,0.0,6,1882,10902,8717
4,521364,6529,2006-02-28,15,1,0,0,7,NaN,NaN,NaN,0.845597,NaN,NaN,2006-03-30,2006-04-03,Second,A,2,1,70,40,2003-07-04,I,Technology,2.0,2006.0,28.0,3,2006,30,4,2006,3,1,4,970.0,23,3823,16175,3823
5,494493,6570,2005-05-20,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2005-07-09,2005-07-22,First,E,2,None,None,None,2004-02-01,NaN,NaN,5.0,2005.0,20.0,7,2005,9,7,2005,22,0,13,474.0,20,3564,22359,3726
6,523001,6562,2005-05-22,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2004-11-24,2005-06-02,First,F,2,None,None,None,2005-04-07,NaN,NaN,5.0,2005.0,22.0,11,2004,24,6,2005,2,0,190,45.0,3,2338,10902,8757
7,500733,6535,2004-01-31,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-01,2004-02-18,First,E,2,None,None,None,2003-03-23,D,NaN,1.0,2004.0,31.0,2,2004,1,2,2004,18,0,17,314.0,13,1882,10902,8717
8,501155,6538,2004-01-31,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2004-01-09,2005-02-04,First,F,2,None,None,None,2004-01-31,B,NaN,1.0,2004.0,31.0,1,2004,9,2,2005,4,0,392,0.0,2,3954,10902,9076
9,501457,6538,2004-08-12,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2004-01-09,2005-02-04,First,F,2,0,None,None,2003-01-28,B,NaN,8.0,2004.0,12.0,1,2004,9,2,2005,4,0,392,562.0,8,3954,10902,9076

In [48]:
# creating online presence using patient profiling data

combined['Online_presence'] = combined['Online_Follower'] + combined['LinkedIn_Shared'] + combined['Twitter_Shared'] + combined['Facebook_Shared']

In [49]:
# dropping the columns

combined.drop(['Online_Follower','LinkedIn_Shared','Twitter_Shared','Facebook_Shared'], axis = 1, inplace = True)

In [52]:
del pp  # deleting the unnecessary data

In [53]:
# camp duration from CampEndDate - CampStartDate

combined['Camp_Start_Date'] = pd.to_datetime(combined.Camp_Start_Date, dayfirst = True)
combined['Camp_End_Date'] = pd.to_datetime(combined.Camp_End_Date, dayfirst = True)
combined['Camp_Duration'] = (combined['Camp_End_Date']-combined['Camp_Start_Date']).dt.days

In [57]:
# Days_Interaction_diff = Registration_date - First_Interaction
#converting first interaction to datetime

combined['First_Interaction']= pd.to_datetime(combined.First_Interaction, dayfirst = True)

combined['Interaction_Diff'] = (combined['Registration_Date'] - combined['First_Interaction']).dt.days

In [60]:
# number of Health camp each patient visited

combined['HC_per_patient']= combined.groupby('Patient_ID')['Health_Camp_ID'].transform('nunique')

# number of patients in each health camp
combined['Patient_per_HC']= combined.groupby('Health_Camp_ID')['Patient_ID'].transform('nunique')

In [65]:
combined['HC_per_patient'].describe()

count    110527.000000
mean          7.501036
std           6.888289
min           1.000000
25%           2.000000
50%           5.000000
75%          11.000000
max          40.000000
Name: HC_per_patient, dtype: float64

In [66]:
combined['Patient_per_HC'].describe()

count    110527.000000
mean       2904.425480
std        1330.060994
min          44.000000
25%        1993.000000
50%        2763.000000
75%        3809.000000
max        6543.000000
Name: Patient_per_HC, dtype: float64

In [70]:
# Patients per year in the starting of a year

combined['Patient_per_year'] = combined.groupby('Camp_Start_Year')['Patient_ID'].transform('nunique')
combined.groupby('Camp_Start_Year')['Patient_ID'].nunique()

Camp_Start_Year
2003     3081
2004    10902
2005    22359
2006    16175
2007     2579
Name: Patient_ID, dtype: int64

In [71]:
# patients per month in the start of a year

combined['Patient_per_month'] = combined.groupby('Camp_Start_Month')['Patient_ID'].transform('nunique')
combined.groupby('Camp_Start_Month')['Patient_ID'].nunique()

Camp_Start_Month
1      9076
2      8717
3      3823
4      6164
5      1903
6      8208
7      3726
8     10445
9     11210
10     8242
11     8757
12     6774
Name: Patient_ID, dtype: int64

In [73]:
# patients per year in the beginning of each year

combined['Patient_per_End_Year'] = combined.groupby('Camp_End_Year')['Patient_ID'].transform('nunique')

# patients per month in the end of each year
combined['Patient_per_End_Month'] = combined.groupby('Camp_End_Month')['Patient_ID'].transform('nunique')

In [79]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category,Registration_Month,Registration_Year,Registration_Day,Camp_Start_Month,Camp_Start_Year,Camp_Start_Day,Camp_End_Month,Camp_End_Year,Camp_End_Day,Online_presence,Camp_Duration,Interaction_Diff,HC_per_patient,Patient_per_HC,Patient_per_year,Patient_per_month,Patient_per_End_Year,Patient_per_End_Month,Target
0,489652,6578,2005-09-10,4,0,0,0,2,NaN,NaN,NaN,NaN,2.0,1.0,2005-08-16,2005-10-14,Third,G,2,None,None,None,2004-12-06,NaN,NaN,9.0,2005.0,10.0,8,2005,16,10,2005,14,0,59,278.0,11,2837,22359,10445,17330,6109,1
1,507246,6578,2005-08-18,45,5,0,0,7,NaN,NaN,NaN,NaN,NaN,NaN,2005-08-16,2005-10-14,Third,G,2,1,75,40,2004-09-08,C,Others,8.0,2005.0,18.0,8,2005,16,10,2005,14,0,59,344.0,26,2837,22359,10445,17330,6109,0
2,523729,6534,2006-04-29,0,0,0,0,0,NaN,NaN,NaN,0.402054,NaN,NaN,2005-10-17,2007-11-07,Second,A,2,None,None,None,2004-06-22,NaN,NaN,4.0,2006.0,29.0,10,2005,17,11,2007,7,0,751,676.0,7,3597,22359,8242,14379,14643,1
3,524931,6535,2004-02-07,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-01,2004-02-18,First,E,2,None,None,None,2004-02-07,I,NaN,2.0,2004.0,7.0,2,2004,1,2,2004,18,0,17,0.0,6,1882,10902,8717,6319,11010,0
4,521364,6529,2006-02-28,15,1,0,0,7,NaN,NaN,NaN,0.845597,NaN,NaN,2006-03-30,2006-04-03,Second,A,2,1,70,40,2003-07-04,I,Technology,2.0,2006.0,28.0,3,2006,30,4,2006,3,1,4,970.0,23,3823,16175,3823,14842,6519,1

In [75]:
combined.shape

(110527, 43)

## Target Variable

In [ ]:
# if Health score == yes or visited stall == yes then 1 else 0

In [76]:
def outcome(a,b,c,d):
    if((a>0)|(b>0)|(c>0)|(d>0)):
        return(1)
    else:
        return(0)

In [78]:
combined['Target']= combined.apply(lambda x:outcome(x['Health_Score'],x['Health Score'],x['Number_of_stall_visited'],
                                x['Last_Stall_Visited_Number']), axis =1)

In [80]:
combined['Target'].value_counts()

0    89993
1    20534
Name: Target, dtype: int64

In [81]:
# let's drop the unnecessary variables

combined.columns

Index(['Patient_ID', 'Health_Camp_ID', 'Registration_Date', 'Var1', 'Var2',
       'Var3', 'Var4', 'Var5', 'Donation', 'Health_Score', 'Unnamed: 4',
       'Health Score', 'Number_of_stall_visited', 'Last_Stall_Visited_Number',
       'Camp_Start_Date', 'Camp_End_Date', 'Category1', 'Category2',
       'Category3', 'Income', 'Education_Score', 'Age', 'First_Interaction',
       'City_Type', 'Employer_Category', 'Registration_Month',
       'Registration_Year', 'Registration_Day', 'Camp_Start_Month',
       'Camp_Start_Year', 'Camp_Start_Day', 'Camp_End_Month', 'Camp_End_Year',
       'Camp_End_Day', 'Online_presence', 'Camp_Duration', 'Interaction_Diff',
       'HC_per_patient', 'Patient_per_HC', 'Patient_per_year',
       'Patient_per_month', 'Patient_per_End_Year', 'Patient_per_End_Month',
       'Target'],
      dtype='object')

In [83]:
new_data = combined.drop(['Patient_ID', 'Health_Camp_ID', 'Registration_Date','Donation','Unnamed: 4','Health_Score'
             ,'Health Score','Income','Education_Score','Age','First_Interaction','Number_of_stall_visited', 'Last_Stall_Visited_Number',
             'First_Interaction','City_Type','Employer_Category'], axis = 1)

In [85]:
new_data.drop(['Camp_Start_Date','Camp_End_Date'], axis = 1, inplace = True)

In [92]:
new_data.head()

,Var1,Var2,Var3,Var4,Var5,Category1,Category2,Category3,Registration_Month,Registration_Year,Registration_Day,Camp_Start_Month,Camp_Start_Year,Camp_Start_Day,Camp_End_Month,Camp_End_Year,Camp_End_Day,Online_presence,Camp_Duration,Interaction_Diff,HC_per_patient,Patient_per_HC,Patient_per_year,Patient_per_month,Patient_per_End_Year,Patient_per_End_Month,Target
0,4,0,0,0,2,3,6,2,9.0,2005.0,10.0,8,2005,16,10,2005,14,0,59,278.0,11,2837,22359,10445,17330,6109,1
1,45,5,0,0,7,3,6,2,8.0,2005.0,18.0,8,2005,16,10,2005,14,0,59,344.0,26,2837,22359,10445,17330,6109,0
2,0,0,0,0,0,2,0,2,4.0,2006.0,29.0,10,2005,17,11,2007,7,0,751,676.0,7,3597,22359,8242,14379,14643,1
3,0,0,0,0,0,1,4,2,2.0,2004.0,7.0,2,2004,1,2,2004,18,0,17,0.0,6,1882,10902,8717,6319,11010,0
4,15,1,0,0,7,2,0,2,2.0,2006.0,28.0,3,2006,30,4,2006,3,1,4,970.0,23,3823,16175,3823,14842,6519,1

In [87]:
del combined, fhc,shc,thc, hcd  # deleting unnecessary data

In [88]:
new_data.Category1.value_counts()

First     61417
Second    27783
Third     21327
Name: Category1, dtype: int64

In [89]:
# encoding the category1 variable

mapped = {'First':1,'Second':2,'Third':3}

new_data['Category1'] = new_data.Category1.map(mapped)

In [91]:
# encoding the category2 column
# pd.factorize works as same as labelencoder
new_data['Category2'] = pd.factorize(new_data.Category2, sort = True)[0]

In [99]:
new_data.isnull().sum()

Var1                       0
Var2                       0
Var3                       0
Var4                       0
Var5                       0
Category1                  0
Category2                  0
Category3                  0
Registration_Month       334
Registration_Year        334
Registration_Day         334
Camp_Start_Month           0
Camp_Start_Year            0
Camp_Start_Day             0
Camp_End_Month             0
Camp_End_Year              0
Camp_End_Day               0
Online_presence            0
Camp_Duration              0
Interaction_Diff         334
HC_per_patient             0
Patient_per_HC             0
Patient_per_year           0
Patient_per_month          0
Patient_per_End_Year       0
Patient_per_End_Month      0
Target                     0
dtype: int64

In [101]:
# treating null values

new_data['Registration_Month']= new_data['Registration_Month'].fillna(new_data['Registration_Month'].mode()[0])
new_data['Registration_Year']= new_data['Registration_Year'].fillna(new_data['Registration_Year'].mode()[0])
new_data['Registration_Day']= new_data['Registration_Day'].fillna(new_data['Registration_Day'].mode()[0])
new_data['Interaction_Diff']= new_data['Interaction_Diff'].fillna(new_data['Interaction_Diff'].median())

In [102]:
new_data.isnull().sum()

Var1                     0
Var2                     0
Var3                     0
Var4                     0
Var5                     0
Category1                0
Category2                0
Category3                0
Registration_Month       0
Registration_Year        0
Registration_Day         0
Camp_Start_Month         0
Camp_Start_Year          0
Camp_Start_Day           0
Camp_End_Month           0
Camp_End_Year            0
Camp_End_Day             0
Online_presence          0
Camp_Duration            0
Interaction_Diff         0
HC_per_patient           0
Patient_per_HC           0
Patient_per_year         0
Patient_per_month        0
Patient_per_End_Year     0
Patient_per_End_Month    0
Target                   0
dtype: int64

## Train Test Split

In [106]:
train.shape, test.shape

((75278, 8), (35249, 8))

In [197]:
new_data.loc[test.shape[0]:]

,Var1,Var2,Var3,Var4,Var5,Category1,Category2,Category3,Registration_Month,Registration_Year,Registration_Day,Camp_Start_Month,Camp_Start_Year,Camp_Start_Day,Camp_End_Month,Camp_End_Year,Camp_End_Day,Online_presence,Camp_Duration,Interaction_Diff,HC_per_patient,Patient_per_HC,Patient_per_year,Patient_per_month,Patient_per_End_Year,Patient_per_End_Month,Target
35249,1,0,0,0,1,1,4,2,11.0,2003.0,21.0,11,2003,22,12,2003,5,0,13,148.0,11,1398,3081,8757,1753,4733,0
35250,0,0,0,0,0,3,6,2,9.0,2005.0,17.0,8,2005,16,10,2005,14,0,59,591.0,10,2837,22359,10445,17330,6109,0
35251,0,0,0,0,0,1,4,2,12.0,2004.0,2.0,12,2004,22,1,2005,6,0,15,2.0,2,3517,10902,6774,17330,5293,0
35252,0,0,0,0,0,1,5,2,6.0,2006.0,10.0,9,2005,27,11,2007,7,0,771,0.0,1,6543,22359,11210,14379,14643,0
35253,1,0,0,0,2,2,0,2,9.0,2006.0,27.0,10,2005,17,11,2007,7,0,751,130.0,9,3597,22359,8242,14379,14643,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,12,2,0,0,6,1,2,2,4.0,2006.0,13.0,4,2006,8,4,2006,17,2,9,786.0,26,166,16175,6164,14842,6519,0
110523,0,0,0,0,0,2,3,2,11.0,2006.0,3.0,11,2006,13,11,2006,18,0,5,415.0,3,2180,16175,8757,14842,14643,0
110524,0,0,0,0,0,2,0,2,6.0,2006.0,17.0,8,2006,4,8,2006,9,0,5,736.0,16,3041,16175,10445,14842,8663,0
110525,0,0,0,0,0,2,3,2,1.0,2007.0,13.0,1,2007,30,2,2007,4,0,5,619.0,5,2441,2579,9076,14379,11010,0
110526,4,3,0,2,4,2,0,2,6.0,2006.0,16.0,8,2006,4,8,2006,9,0,5,680.0,14,3041,16175,10445,14842,8663,0

In [108]:
newtrain = new_data.loc[0:train.shape[0]-1,:]
newtest = new_data.loc[train.shape[0]:,:]

In [109]:
newtrain.shape, newtest.shape

((75278, 27), (35249, 27))

In [110]:
newtest.drop('Target', axis = 1, inplace = True)

In [111]:
newtrain.shape, newtest.shape

((75278, 27), (35249, 26))

In [133]:
X = newtrain.drop('Target', axis =1)
y = newtrain.Target

## Model Building

In [112]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from catboost import CatBoostClassifier
from xgboost import XGBClassifier

In [127]:
# models

lr = LogisticRegression()
rf = RandomForestClassifier()
gbc = GradientBoostingClassifier()
cb = CatBoostClassifier(eval_metric = 'AUC')
xgb = XGBClassifier(eval_metric = 'auc')

In [131]:
# let's build voting classifier model

from sklearn.ensemble import VotingClassifier
vc = VotingClassifier(estimators=[('lr',lr),('rf',rf),('gbc',gbc),('cb',cb),('xgb',xgb)], voting = 'soft')

In [134]:
pred = vc.fit(X,y).predict_proba(newtest)

Learning rate set to 0.065204
0:	total: 21.3ms	remaining: 21.2s
1:	total: 40ms	remaining: 20s
2:	total: 59ms	remaining: 19.6s
3:	total: 79.3ms	remaining: 19.8s
4:	total: 103ms	remaining: 20.5s
5:	total: 128ms	remaining: 21.2s
6:	total: 152ms	remaining: 21.6s
7:	total: 176ms	remaining: 21.9s
8:	total: 202ms	remaining: 22.2s
9:	total: 228ms	remaining: 22.5s
10:	total: 252ms	remaining: 22.6s
11:	total: 276ms	remaining: 22.7s
12:	total: 299ms	remaining: 22.7s
13:	total: 321ms	remaining: 22.6s
14:	total: 345ms	remaining: 22.6s
15:	total: 368ms	remaining: 22.7s
16:	total: 391ms	remaining: 22.6s
17:	total: 414ms	remaining: 22.6s
18:	total: 434ms	remaining: 22.4s
19:	total: 452ms	remaining: 22.1s
20:	total: 469ms	remaining: 21.9s
21:	total: 487ms	remaining: 21.7s
22:	total: 505ms	remaining: 21.4s
23:	total: 521ms	remaining: 21.2s
24:	total: 536ms	remaining: 20.9s
25:	total: 552ms	remaining: 20.7s
26:	total: 568ms	remaining: 20.5s
27:	total: 585ms	remaining: 20.3s
28:	total: 602ms	remaining: 20.1s
29:	total: 619ms	remaining: 20s
30:	total: 637ms	remaining: 19.9s
31:	total: 655ms	remaining: 19.8s
32:	total: 673ms	remaining: 19.7s
33:	total: 690ms	remaining: 19.6s
34:	total: 707ms	remaining: 19.5s
35:	total: 722ms	remaining: 19.3s
36:	total: 740ms	remaining: 19.2s
37:	total: 756ms	remaining: 19.1s
38:	total: 773ms	remaining: 19s
39:	total: 790ms	remaining: 18.9s
40:	total: 807ms	remaining: 18.9s
41:	total: 824ms	remaining: 18.8s
42:	total: 843ms	remaining: 18.8s
43:	total: 861ms	remaining: 18.7s
44:	total: 877ms	remaining: 18.6s
45:	total: 894ms	remaining: 18.5s
46:	total: 909ms	remaining: 18.4s
47:	total: 925ms	remaining: 18.4s
48:	total: 942ms	remaining: 18.3s
49:	total: 960ms	remaining: 18.2s
50:	total: 976ms	remaining: 18.2s
51:	total: 992ms	remaining: 18.1s
52:	total: 1.01s	remaining: 18s
53:	total: 1.03s	remaining: 18s
54:	total: 1.04s	remaining: 17.9s
55:	total: 1.06s	remaining: 17.9s
56:	total: 1.08s	remaining: 17.8s
57:	total: 1.09s	remaining: 17.8s
58:	total: 1.11s	remaining: 17.7s
59:	total: 1.13s	remaining: 17.7s
60:	total: 1.14s	remaining: 17.6s
61:	total: 1.16s	remaining: 17.6s
62:	total: 1.18s	remaining: 17.5s
63:	total: 1.19s	remaining: 17.5s
64:	total: 1.21s	remaining: 17.4s
65:	total: 1.23s	remaining: 17.4s
66:	total: 1.25s	remaining: 17.4s
67:	total: 1.26s	remaining: 17.3s
68:	total: 1.28s	remaining: 17.3s
69:	total: 1.3s	remaining: 17.2s
70:	total: 1.31s	remaining: 17.2s
71:	total: 1.33s	remaining: 17.1s
72:	total: 1.34s	remaining: 17.1s
73:	total: 1.36s	remaining: 17.1s
74:	total: 1.38s	remaining: 17s
75:	total: 1.4s	remaining: 17s
76:	total: 1.41s	remaining: 17s
77:	total: 1.43s	remaining: 16.9s
78:	total: 1.45s	remaining: 16.9s
79:	total: 1.47s	remaining: 16.9s
80:	total: 1.48s	remaining: 16.8s
81:	total: 1.5s	remaining: 16.8s
82:	total: 1.52s	remaining: 16.8s
83:	total: 1.53s	remaining: 16.7s
84:	total: 1.55s	remaining: 16.7s
85:	total: 1.57s	remaining: 16.7s
86:	total: 1.58s	remaining: 16.6s
87:	total: 1.6s	remaining: 16.6s
88:	total: 1.62s	remaining: 16.6s
89:	total: 1.64s	remaining: 16.6s
90:	total: 1.66s	remaining: 16.5s
91:	total: 1.67s	remaining: 16.5s
92:	total: 1.69s	remaining: 16.5s
93:	total: 1.7s	remaining: 16.4s
94:	total: 1.72s	remaining: 16.4s
95:	total: 1.74s	remaining: 16.4s
96:	total: 1.76s	remaining: 16.4s
97:	total: 1.77s	remaining: 16.3s
98:	total: 1.79s	remaining: 16.3s
99:	total: 1.81s	remaining: 16.3s
100:	total: 1.82s	remaining: 16.2s
101:	total: 1.84s	remaining: 16.2s
102:	total: 1.86s	remaining: 16.2s
103:	total: 1.87s	remaining: 16.1s
104:	total: 1.89s	remaining: 16.1s
105:	total: 1.91s	remaining: 16.1s
106:	total: 1.92s	remaining: 16.1s
107:	total: 1.94s	remaining: 16s
108:	total: 1.96s	remaining: 16s
109:	total: 1.97s	remaining: 16s
110:	total: 1.98s	remaining: 15.9s
111:	total: 2s	remaining: 15.8s
112:	total: 2.01s	remaining: 15.8s
113:	total: 2.03s	remaining: 15.8s
114:	total: 2.05s	remaining: 15.8s
115:	total: 2.06s	remaining: 15.7s
116:	total: 2.08s	remaining: 15.7s
117:	total: 2.1s	remaining: 15.7s
118:	total: 2.12s	remaining: 15.7s
119:	total: 2.14s	remaining: 15.7s
120:	total: 2.15s	remaining: 15.7s
121:	total: 2.17s	remaining: 15.6s
122:	total: 2.19s	remaining: 15.6s
123:	total: 2.21s	remaining: 15.6s
124:	total: 2.22s	remaining: 15.5s
125:	total: 2.24s	remaining: 15.5s
126:	total: 2.26s	remaining: 15.5s
127:	total: 2.27s	remaining: 15.5s
128:	total: 2.29s	remaining: 15.5s
129:	total: 2.31s	remaining: 15.5s
130:	total: 2.33s	remaining: 15.4s
131:	total: 2.35s	remaining: 15.4s
132:	total: 2.36s	remaining: 15.4s
133:	total: 2.38s	remaining: 15.4s
134:	total: 2.4s	remaining: 15.4s
135:	total: 2.41s	remaining: 15.3s
136:	total: 2.43s	remaining: 15.3s
137:	total: 2.45s	remaining: 15.3s
138:	total: 2.47s	remaining: 15.3s
139:	total: 2.48s	remaining: 15.3s
140:	total: 2.5s	remaining: 15.2s
141:	total: 2.52s	remaining: 15.2s
142:	total: 2.54s	remaining: 15.2s
143:	total: 2.56s	remaining: 15.2s
144:	total: 2.57s	remaining: 15.2s
145:	total: 2.59s	remaining: 15.1s
146:	total: 2.61s	remaining: 15.1s
147:	total: 2.62s	remaining: 15.1s
148:	total: 2.64s	remaining: 15.1s
149:	total: 2.65s	remaining: 15s
150:	total: 2.67s	remaining: 15s
151:	total: 2.69s	remaining: 15s
152:	total: 2.71s	remaining: 15s
153:	total: 2.72s	remaining: 15s
154:	total: 2.74s	remaining: 14.9s
155:	total: 2.76s	remaining: 14.9s
156:	total: 2.77s	remaining: 14.9s
157:	total: 2.79s	remaining: 14.9s
158:	total: 2.81s	remaining: 14.8s
159:	total: 2.82s	remaining: 14.8s
160:	total: 2.84s	remaining: 14.8s
161:	total: 2.86s	remaining: 14.8s
162:	total: 2.88s	remaining: 14.8s
163:	total: 2.89s	remaining: 14.7s
164:	total: 2.91s	remaining: 14.7s
165:	total: 2.93s	remaining: 14.7s
166:	total: 2.94s	remaining: 14.7s
167:	total: 2.96s	remaining: 14.7s
168:	total: 2.98s	remaining: 14.6s
169:	total: 2.99s	remaining: 14.6s
170:	total: 3.01s	remaining: 14.6s
171:	total: 3.03s	remaining: 14.6s
172:	total: 3.04s	remaining: 14.6s
173:	total: 3.06s	remaining: 14.5s
174:	total: 3.08s	remaining: 14.5s
175:	total: 3.1s	remaining: 14.5s
176:	total: 3.11s	remaining: 14.5s
177:	total: 3.13s	remaining: 14.4s
178:	total: 3.14s	remaining: 14.4s
179:	total: 3.16s	remaining: 14.4s
180:	total: 3.18s	remaining: 14.4s
181:	total: 3.19s	remaining: 14.4s
182:	total: 3.21s	remaining: 14.3s
183:	total: 3.23s	remaining: 14.3s
184:	total: 3.24s	remaining: 14.3s
185:	total: 3.26s	remaining: 14.3s
186:	total: 3.28s	remaining: 14.3s
187:	total: 3.3s	remaining: 14.2s
188:	total: 3.31s	remaining: 14.2s
189:	total: 3.33s	remaining: 14.2s
190:	total: 3.35s	remaining: 14.2s
191:	total: 3.36s	remaining: 14.1s
192:	total: 3.38s	remaining: 14.1s
193:	total: 3.4s	remaining: 14.1s
194:	total: 3.41s	remaining: 14.1s
195:	total: 3.43s	remaining: 14.1s
196:	total: 3.45s	remaining: 14.1s
197:	total: 3.47s	remaining: 14s
198:	total: 3.49s	remaining: 14s
199:	total: 3.5s	remaining: 14s
200:	total: 3.52s	remaining: 14s
201:	total: 3.54s	remaining: 14s
202:	total: 3.55s	remaining: 13.9s
203:	total: 3.57s	remaining: 13.9s
204:	total: 3.58s	remaining: 13.9s
205:	total: 3.6s	remaining: 13.9s
206:	total: 3.62s	remaining: 13.9s
207:	total: 3.64s	remaining: 13.9s
208:	total: 3.65s	remaining: 13.8s
209:	total: 3.67s	remaining: 13.8s
210:	total: 3.69s	remaining: 13.8s
211:	total: 3.71s	remaining: 13.8s
212:	total: 3.72s	remaining: 13.8s
213:	total: 3.74s	remaining: 13.7s
214:	total: 3.76s	remaining: 13.7s
215:	total: 3.78s	remaining: 13.7s
216:	total: 3.79s	remaining: 13.7s
217:	total: 3.81s	remaining: 13.7s
218:	total: 3.82s	remaining: 13.6s
219:	total: 3.84s	remaining: 13.6s
220:	total: 3.86s	remaining: 13.6s
221:	total: 3.88s	remaining: 13.6s
222:	total: 3.89s	remaining: 13.6s
223:	total: 3.91s	remaining: 13.6s
224:	total: 3.93s	remaining: 13.5s
225:	total: 3.94s	remaining: 13.5s
226:	total: 3.96s	remaining: 13.5s
227:	total: 3.98s	remaining: 13.5s
228:	total: 3.99s	remaining: 13.4s
229:	total: 4.01s	remaining: 13.4s
230:	total: 4.03s	remaining: 13.4s
231:	total: 4.04s	remaining: 13.4s
232:	total: 4.06s	remaining: 13.4s
233:	total: 4.08s	remaining: 13.3s
234:	total: 4.09s	remaining: 13.3s
235:	total: 4.11s	remaining: 13.3s
236:	total: 4.13s	remaining: 13.3s
237:	total: 4.15s	remaining: 13.3s
238:	total: 4.16s	remaining: 13.3s
239:	total: 4.18s	remaining: 13.2s
240:	total: 4.2s	remaining: 13.2s
241:	total: 4.22s	remaining: 13.2s
242:	total: 4.23s	remaining: 13.2s
243:	total: 4.25s	remaining: 13.2s
244:	total: 4.27s	remaining: 13.2s

245:	total: 4.29s	remaining: 13.1s
246:	total: 4.32s	remaining: 13.2s
247:	total: 4.33s	remaining: 13.1s
248:	total: 4.35s	remaining: 13.1s
249:	total: 4.37s	remaining: 13.1s
250:	total: 4.39s	remaining: 13.1s
251:	total: 4.41s	remaining: 13.1s
252:	total: 4.42s	remaining: 13.1s
253:	total: 4.44s	remaining: 13s
254:	total: 4.46s	remaining: 13s
255:	total: 4.48s	remaining: 13s
256:	total: 4.5s	remaining: 13s
257:	total: 4.52s	remaining: 13s
258:	total: 4.53s	remaining: 13s
259:	total: 4.55s	remaining: 13s
260:	total: 4.57s	remaining: 12.9s
261:	total: 4.58s	remaining: 12.9s
262:	total: 4.6s	remaining: 12.9s
263:	total: 4.62s	remaining: 12.9s
264:	total: 4.64s	remaining: 12.9s
265:	total: 4.65s	remaining: 12.8s
266:	total: 4.67s	remaining: 12.8s
267:	total: 4.69s	remaining: 12.8s
268:	total: 4.71s	remaining: 12.8s
269:	total: 4.73s	remaining: 12.8s
270:	total: 4.74s	remaining: 12.8s
271:	total: 4.76s	remaining: 12.7s
272:	total: 4.78s	remaining: 12.7s
273:	total: 4.8s	remaining: 12.7s
274:	total: 4.81s	remaining: 12.7s
275:	total: 4.83s	remaining: 12.7s
276:	total: 4.85s	remaining: 12.7s
277:	total: 4.86s	remaining: 12.6s
278:	total: 4.88s	remaining: 12.6s
279:	total: 4.9s	remaining: 12.6s
280:	total: 4.92s	remaining: 12.6s
281:	total: 4.94s	remaining: 12.6s
282:	total: 4.95s	remaining: 12.6s
283:	total: 4.97s	remaining: 12.5s
284:	total: 4.99s	remaining: 12.5s
285:	total: 5s	remaining: 12.5s
286:	total: 5.02s	remaining: 12.5s
287:	total: 5.04s	remaining: 12.5s
288:	total: 5.05s	remaining: 12.4s
289:	total: 5.07s	remaining: 12.4s
290:	total: 5.08s	remaining: 12.4s
291:	total: 5.1s	remaining: 12.4s
292:	total: 5.12s	remaining: 12.4s
293:	total: 5.14s	remaining: 12.3s
294:	total: 5.16s	remaining: 12.3s
295:	total: 5.17s	remaining: 12.3s
296:	total: 5.19s	remaining: 12.3s
297:	total: 5.21s	remaining: 12.3s
298:	total: 5.22s	remaining: 12.2s
299:	total: 5.24s	remaining: 12.2s
300:	total: 5.26s	remaining: 12.2s
301:	total: 5.28s	remaining: 12.2s
302:	total: 5.29s	remaining: 12.2s
303:	total: 5.31s	remaining: 12.2s
304:	total: 5.33s	remaining: 12.1s
305:	total: 5.35s	remaining: 12.1s
306:	total: 5.36s	remaining: 12.1s
307:	total: 5.38s	remaining: 12.1s
308:	total: 5.4s	remaining: 12.1s
309:	total: 5.42s	remaining: 12.1s
310:	total: 5.43s	remaining: 12s
311:	total: 5.45s	remaining: 12s
312:	total: 5.47s	remaining: 12s
313:	total: 5.49s	remaining: 12s
314:	total: 5.5s	remaining: 12s
315:	total: 5.52s	remaining: 12s
316:	total: 5.54s	remaining: 11.9s
317:	total: 5.56s	remaining: 11.9s
318:	total: 5.57s	remaining: 11.9s
319:	total: 5.59s	remaining: 11.9s
320:	total: 5.61s	remaining: 11.9s
321:	total: 5.63s	remaining: 11.8s
322:	total: 5.64s	remaining: 11.8s
323:	total: 5.66s	remaining: 11.8s
324:	total: 5.68s	remaining: 11.8s
325:	total: 5.69s	remaining: 11.8s
326:	total: 5.71s	remaining: 11.8s
327:	total: 5.73s	remaining: 11.7s
328:	total: 5.75s	remaining: 11.7s
329:	total: 5.76s	remaining: 11.7s
330:	total: 5.78s	remaining: 11.7s
331:	total: 5.8s	remaining: 11.7s
332:	total: 5.82s	remaining: 11.6s
333:	total: 5.83s	remaining: 11.6s
334:	total: 5.85s	remaining: 11.6s
335:	total: 5.87s	remaining: 11.6s
336:	total: 5.89s	remaining: 11.6s
337:	total: 5.9s	remaining: 11.6s
338:	total: 5.92s	remaining: 11.5s
339:	total: 5.94s	remaining: 11.5s
340:	total: 5.96s	remaining: 11.5s
341:	total: 5.97s	remaining: 11.5s
342:	total: 5.99s	remaining: 11.5s
343:	total: 6.01s	remaining: 11.5s
344:	total: 6.03s	remaining: 11.4s
345:	total: 6.04s	remaining: 11.4s
346:	total: 6.06s	remaining: 11.4s
347:	total: 6.08s	remaining: 11.4s
348:	total: 6.09s	remaining: 11.4s
349:	total: 6.11s	remaining: 11.3s
350:	total: 6.13s	remaining: 11.3s
351:	total: 6.14s	remaining: 11.3s
352:	total: 6.16s	remaining: 11.3s
353:	total: 6.18s	remaining: 11.3s
354:	total: 6.2s	remaining: 11.3s
355:	total: 6.21s	remaining: 11.2s
356:	total: 6.23s	remaining: 11.2s
357:	total: 6.25s	remaining: 11.2s
358:	total: 6.26s	remaining: 11.2s
359:	total: 6.28s	remaining: 11.2s
360:	total: 6.29s	remaining: 11.1s
361:	total: 6.31s	remaining: 11.1s
362:	total: 6.33s	remaining: 11.1s
363:	total: 6.35s	remaining: 11.1s
364:	total: 6.36s	remaining: 11.1s
365:	total: 6.38s	remaining: 11s
366:	total: 6.4s	remaining: 11s
367:	total: 6.41s	remaining: 11s
368:	total: 6.43s	remaining: 11s
369:	total: 6.45s	remaining: 11s
370:	total: 6.46s	remaining: 11s
371:	total: 6.48s	remaining: 10.9s
372:	total: 6.5s	remaining: 10.9s
373:	total: 6.51s	remaining: 10.9s
374:	total: 6.54s	remaining: 10.9s
375:	total: 6.56s	remaining: 10.9s
376:	total: 6.58s	remaining: 10.9s
377:	total: 6.59s	remaining: 10.9s
378:	total: 6.61s	remaining: 10.8s
379:	total: 6.63s	remaining: 10.8s
380:	total: 6.65s	remaining: 10.8s
381:	total: 6.66s	remaining: 10.8s
382:	total: 6.68s	remaining: 10.8s
383:	total: 6.69s	remaining: 10.7s
384:	total: 6.71s	remaining: 10.7s
385:	total: 6.73s	remaining: 10.7s
386:	total: 6.74s	remaining: 10.7s
387:	total: 6.76s	remaining: 10.7s
388:	total: 6.78s	remaining: 10.6s
389:	total: 6.79s	remaining: 10.6s
390:	total: 6.81s	remaining: 10.6s
391:	total: 6.83s	remaining: 10.6s
392:	total: 6.85s	remaining: 10.6s
393:	total: 6.87s	remaining: 10.6s
394:	total: 6.88s	remaining: 10.5s
395:	total: 6.9s	remaining: 10.5s
396:	total: 6.92s	remaining: 10.5s
397:	total: 6.93s	remaining: 10.5s
398:	total: 6.95s	remaining: 10.5s
399:	total: 6.97s	remaining: 10.5s
400:	total: 6.98s	remaining: 10.4s
401:	total: 7s	remaining: 10.4s
402:	total: 7.02s	remaining: 10.4s
403:	total: 7.04s	remaining: 10.4s
404:	total: 7.05s	remaining: 10.4s
405:	total: 7.07s	remaining: 10.3s
406:	total: 7.09s	remaining: 10.3s
407:	total: 7.11s	remaining: 10.3s
408:	total: 7.12s	remaining: 10.3s
409:	total: 7.14s	remaining: 10.3s
410:	total: 7.16s	remaining: 10.3s
411:	total: 7.17s	remaining: 10.2s
412:	total: 7.19s	remaining: 10.2s
413:	total: 7.21s	remaining: 10.2s
414:	total: 7.22s	remaining: 10.2s
415:	total: 7.24s	remaining: 10.2s
416:	total: 7.26s	remaining: 10.2s
417:	total: 7.28s	remaining: 10.1s
418:	total: 7.29s	remaining: 10.1s
419:	total: 7.31s	remaining: 10.1s
420:	total: 7.33s	remaining: 10.1s
421:	total: 7.35s	remaining: 10.1s
422:	total: 7.37s	remaining: 10s
423:	total: 7.38s	remaining: 10s
424:	total: 7.4s	remaining: 10s
425:	total: 7.42s	remaining: 9.99s
426:	total: 7.43s	remaining: 9.97s
427:	total: 7.45s	remaining: 9.96s
428:	total: 7.47s	remaining: 9.94s
429:	total: 7.49s	remaining: 9.92s
430:	total: 7.5s	remaining: 9.91s
431:	total: 7.52s	remaining: 9.89s
432:	total: 7.54s	remaining: 9.87s
433:	total: 7.56s	remaining: 9.86s
434:	total: 7.57s	remaining: 9.84s
435:	total: 7.59s	remaining: 9.82s
436:	total: 7.61s	remaining: 9.8s
437:	total: 7.62s	remaining: 9.78s
438:	total: 7.64s	remaining: 9.76s
439:	total: 7.66s	remaining: 9.74s
440:	total: 7.67s	remaining: 9.73s
441:	total: 7.69s	remaining: 9.71s
442:	total: 7.71s	remaining: 9.7s
443:	total: 7.73s	remaining: 9.68s
444:	total: 7.75s	remaining: 9.66s
445:	total: 7.76s	remaining: 9.64s
446:	total: 7.78s	remaining: 9.62s
447:	total: 7.79s	remaining: 9.6s
448:	total: 7.81s	remaining: 9.59s
449:	total: 7.83s	remaining: 9.57s
450:	total: 7.84s	remaining: 9.55s
451:	total: 7.86s	remaining: 9.53s
452:	total: 7.88s	remaining: 9.51s
453:	total: 7.89s	remaining: 9.49s
454:	total: 7.91s	remaining: 9.47s
455:	total: 7.93s	remaining: 9.46s
456:	total: 7.95s	remaining: 9.44s
457:	total: 7.96s	remaining: 9.42s
458:	total: 7.98s	remaining: 9.4s
459:	total: 8s	remaining: 9.39s
460:	total: 8.02s	remaining: 9.37s
461:	total: 8.03s	remaining: 9.35s
462:	total: 8.05s	remaining: 9.33s
463:	total: 8.06s	remaining: 9.31s
464:	total: 8.08s	remaining: 9.3s
465:	total: 8.1s	remaining: 9.28s
466:	total: 8.11s	remaining: 9.26s
467:	total: 8.13s	remaining: 9.24s
468:	total: 8.15s	remaining: 9.23s
469:	total: 8.17s	remaining: 9.21s
470:	total: 8.18s	remaining: 9.19s
471:	total: 8.2s	remaining: 9.17s
472:	total: 8.22s	remaining: 9.15s
473:	total: 8.23s	remaining: 9.14s
474:	total: 8.25s	remaining: 9.12s
475:	total: 8.27s	remaining: 9.1s
476:	total: 8.29s	remaining: 9.08s
477:	total: 8.3s	remaining: 9.07s
478:	total: 8.32s	remaining: 9.05s
479:	total: 8.34s	remaining: 9.03s
480:	total: 8.35s	remaining: 9.01s
481:	total: 8.37s	remaining: 8.99s
482:	total: 8.39s	remaining: 8.98s
483:	total: 8.4s	remaining: 8.96s
484:	total: 8.42s	remaining: 8.94s
485:	total: 8.44s	remaining: 8.93s
486:	total: 8.46s	remaining: 8.91s
487:	total: 8.48s	remaining: 8.89s

488:	total: 8.49s	remaining: 8.88s
489:	total: 8.51s	remaining: 8.86s
490:	total: 8.53s	remaining: 8.84s
491:	total: 8.55s	remaining: 8.82s
492:	total: 8.56s	remaining: 8.81s
493:	total: 8.58s	remaining: 8.79s
494:	total: 8.6s	remaining: 8.77s
495:	total: 8.62s	remaining: 8.75s
496:	total: 8.63s	remaining: 8.74s
497:	total: 8.65s	remaining: 8.72s
498:	total: 8.67s	remaining: 8.7s
499:	total: 8.69s	remaining: 8.69s
500:	total: 8.71s	remaining: 8.67s
501:	total: 8.72s	remaining: 8.65s
502:	total: 8.74s	remaining: 8.64s
503:	total: 8.76s	remaining: 8.62s
504:	total: 8.78s	remaining: 8.61s
505:	total: 8.8s	remaining: 8.59s
506:	total: 8.81s	remaining: 8.57s
507:	total: 8.83s	remaining: 8.55s
508:	total: 8.85s	remaining: 8.54s
509:	total: 8.87s	remaining: 8.52s
510:	total: 8.89s	remaining: 8.5s
511:	total: 8.9s	remaining: 8.49s
512:	total: 8.92s	remaining: 8.47s
513:	total: 8.94s	remaining: 8.46s
514:	total: 8.96s	remaining: 8.44s
515:	total: 8.98s	remaining: 8.42s
516:	total: 9s	remaining: 8.4s
517:	total: 9.01s	remaining: 8.39s
518:	total: 9.03s	remaining: 8.37s
519:	total: 9.05s	remaining: 8.35s
520:	total: 9.07s	remaining: 8.34s
521:	total: 9.09s	remaining: 8.32s
522:	total: 9.1s	remaining: 8.3s
523:	total: 9.12s	remaining: 8.29s
524:	total: 9.14s	remaining: 8.27s
525:	total: 9.16s	remaining: 8.25s
526:	total: 9.17s	remaining: 8.23s
527:	total: 9.19s	remaining: 8.22s
528:	total: 9.21s	remaining: 8.2s
529:	total: 9.22s	remaining: 8.18s
530:	total: 9.24s	remaining: 8.16s
531:	total: 9.26s	remaining: 8.14s
532:	total: 9.28s	remaining: 8.13s
533:	total: 9.29s	remaining: 8.11s
534:	total: 9.31s	remaining: 8.09s
535:	total: 9.33s	remaining: 8.08s
536:	total: 9.35s	remaining: 8.06s
537:	total: 9.37s	remaining: 8.04s
538:	total: 9.38s	remaining: 8.03s
539:	total: 9.4s	remaining: 8.01s
540:	total: 9.42s	remaining: 7.99s
541:	total: 9.43s	remaining: 7.97s
542:	total: 9.45s	remaining: 7.96s
543:	total: 9.47s	remaining: 7.94s
544:	total: 9.49s	remaining: 7.92s
545:	total: 9.5s	remaining: 7.9s
546:	total: 9.52s	remaining: 7.89s
547:	total: 9.54s	remaining: 7.87s
548:	total: 9.56s	remaining: 7.85s
549:	total: 9.58s	remaining: 7.83s
550:	total: 9.59s	remaining: 7.82s
551:	total: 9.61s	remaining: 7.8s
552:	total: 9.63s	remaining: 7.78s
553:	total: 9.65s	remaining: 7.76s
554:	total: 9.66s	remaining: 7.75s
555:	total: 9.68s	remaining: 7.73s
556:	total: 9.7s	remaining: 7.71s
557:	total: 9.72s	remaining: 7.7s
558:	total: 9.74s	remaining: 7.68s
559:	total: 9.76s	remaining: 7.67s
560:	total: 9.78s	remaining: 7.65s
561:	total: 9.8s	remaining: 7.63s
562:	total: 9.81s	remaining: 7.62s
563:	total: 9.83s	remaining: 7.6s
564:	total: 9.85s	remaining: 7.58s
565:	total: 9.87s	remaining: 7.57s
566:	total: 9.89s	remaining: 7.55s
567:	total: 9.91s	remaining: 7.54s
568:	total: 9.93s	remaining: 7.52s
569:	total: 9.94s	remaining: 7.5s
570:	total: 9.96s	remaining: 7.49s
571:	total: 9.98s	remaining: 7.47s
572:	total: 10s	remaining: 7.45s
573:	total: 10s	remaining: 7.43s
574:	total: 10s	remaining: 7.42s
575:	total: 10.1s	remaining: 7.4s
576:	total: 10.1s	remaining: 7.38s
577:	total: 10.1s	remaining: 7.37s
578:	total: 10.1s	remaining: 7.35s
579:	total: 10.1s	remaining: 7.33s
580:	total: 10.1s	remaining: 7.31s
581:	total: 10.2s	remaining: 7.3s
582:	total: 10.2s	remaining: 7.28s
583:	total: 10.2s	remaining: 7.26s
584:	total: 10.2s	remaining: 7.26s
585:	total: 10.2s	remaining: 7.24s
586:	total: 10.3s	remaining: 7.22s
587:	total: 10.3s	remaining: 7.21s
588:	total: 10.3s	remaining: 7.19s
589:	total: 10.3s	remaining: 7.17s
590:	total: 10.3s	remaining: 7.16s
591:	total: 10.4s	remaining: 7.14s
592:	total: 10.4s	remaining: 7.12s
593:	total: 10.4s	remaining: 7.11s
594:	total: 10.4s	remaining: 7.09s
595:	total: 10.4s	remaining: 7.07s
596:	total: 10.4s	remaining: 7.05s
597:	total: 10.5s	remaining: 7.04s
598:	total: 10.5s	remaining: 7.02s
599:	total: 10.5s	remaining: 7s
600:	total: 10.5s	remaining: 6.98s
601:	total: 10.5s	remaining: 6.97s
602:	total: 10.6s	remaining: 6.95s
603:	total: 10.6s	remaining: 6.93s
604:	total: 10.6s	remaining: 6.91s
605:	total: 10.6s	remaining: 6.9s
606:	total: 10.6s	remaining: 6.88s
607:	total: 10.6s	remaining: 6.86s
608:	total: 10.7s	remaining: 6.84s
609:	total: 10.7s	remaining: 6.83s
610:	total: 10.7s	remaining: 6.81s
611:	total: 10.7s	remaining: 6.79s
612:	total: 10.7s	remaining: 6.78s
613:	total: 10.7s	remaining: 6.76s
614:	total: 10.8s	remaining: 6.74s
615:	total: 10.8s	remaining: 6.72s
616:	total: 10.8s	remaining: 6.71s
617:	total: 10.8s	remaining: 6.69s
618:	total: 10.8s	remaining: 6.67s
619:	total: 10.9s	remaining: 6.65s
620:	total: 10.9s	remaining: 6.64s
621:	total: 10.9s	remaining: 6.63s
622:	total: 10.9s	remaining: 6.62s
623:	total: 11s	remaining: 6.6s
624:	total: 11s	remaining: 6.59s
625:	total: 11s	remaining: 6.57s
626:	total: 11s	remaining: 6.56s
627:	total: 11s	remaining: 6.54s
628:	total: 11.1s	remaining: 6.52s
629:	total: 11.1s	remaining: 6.51s
630:	total: 11.1s	remaining: 6.5s
631:	total: 11.1s	remaining: 6.48s
632:	total: 11.1s	remaining: 6.46s
633:	total: 11.2s	remaining: 6.45s
634:	total: 11.2s	remaining: 6.43s
635:	total: 11.2s	remaining: 6.41s
636:	total: 11.2s	remaining: 6.4s
637:	total: 11.2s	remaining: 6.38s
638:	total: 11.3s	remaining: 6.36s
639:	total: 11.3s	remaining: 6.34s
640:	total: 11.3s	remaining: 6.33s
641:	total: 11.3s	remaining: 6.31s
642:	total: 11.3s	remaining: 6.29s
643:	total: 11.4s	remaining: 6.28s
644:	total: 11.4s	remaining: 6.26s
645:	total: 11.4s	remaining: 6.24s
646:	total: 11.4s	remaining: 6.22s
647:	total: 11.4s	remaining: 6.21s
648:	total: 11.4s	remaining: 6.19s
649:	total: 11.5s	remaining: 6.17s
650:	total: 11.5s	remaining: 6.15s
651:	total: 11.5s	remaining: 6.13s
652:	total: 11.5s	remaining: 6.12s
653:	total: 11.5s	remaining: 6.1s
654:	total: 11.6s	remaining: 6.08s
655:	total: 11.6s	remaining: 6.07s
656:	total: 11.6s	remaining: 6.05s
657:	total: 11.6s	remaining: 6.03s
658:	total: 11.6s	remaining: 6.01s
659:	total: 11.6s	remaining: 6s
660:	total: 11.7s	remaining: 5.98s
661:	total: 11.7s	remaining: 5.96s
662:	total: 11.7s	remaining: 5.94s
663:	total: 11.7s	remaining: 5.92s
664:	total: 11.7s	remaining: 5.91s
665:	total: 11.7s	remaining: 5.89s
666:	total: 11.8s	remaining: 5.87s
667:	total: 11.8s	remaining: 5.85s
668:	total: 11.8s	remaining: 5.83s
669:	total: 11.8s	remaining: 5.82s
670:	total: 11.8s	remaining: 5.8s
671:	total: 11.8s	remaining: 5.78s
672:	total: 11.9s	remaining: 5.76s
673:	total: 11.9s	remaining: 5.75s
674:	total: 11.9s	remaining: 5.73s
675:	total: 11.9s	remaining: 5.71s
676:	total: 11.9s	remaining: 5.69s
677:	total: 11.9s	remaining: 5.67s
678:	total: 12s	remaining: 5.66s
679:	total: 12s	remaining: 5.64s
680:	total: 12s	remaining: 5.62s
681:	total: 12s	remaining: 5.6s
682:	total: 12s	remaining: 5.59s
683:	total: 12.1s	remaining: 5.57s
684:	total: 12.1s	remaining: 5.55s
685:	total: 12.1s	remaining: 5.53s
686:	total: 12.1s	remaining: 5.52s
687:	total: 12.1s	remaining: 5.5s
688:	total: 12.1s	remaining: 5.48s
689:	total: 12.2s	remaining: 5.46s
690:	total: 12.2s	remaining: 5.45s
691:	total: 12.2s	remaining: 5.43s
692:	total: 12.2s	remaining: 5.41s
693:	total: 12.2s	remaining: 5.39s
694:	total: 12.2s	remaining: 5.37s
695:	total: 12.3s	remaining: 5.35s
696:	total: 12.3s	remaining: 5.34s
697:	total: 12.3s	remaining: 5.32s
698:	total: 12.3s	remaining: 5.3s
699:	total: 12.3s	remaining: 5.28s
700:	total: 12.3s	remaining: 5.27s
701:	total: 12.4s	remaining: 5.25s
702:	total: 12.4s	remaining: 5.23s
703:	total: 12.4s	remaining: 5.21s
704:	total: 12.4s	remaining: 5.2s
705:	total: 12.4s	remaining: 5.18s
706:	total: 12.4s	remaining: 5.16s
707:	total: 12.5s	remaining: 5.14s
708:	total: 12.5s	remaining: 5.12s
709:	total: 12.5s	remaining: 5.1s
710:	total: 12.5s	remaining: 5.09s
711:	total: 12.5s	remaining: 5.07s
712:	total: 12.6s	remaining: 5.05s
713:	total: 12.6s	remaining: 5.03s
714:	total: 12.6s	remaining: 5.02s
715:	total: 12.6s	remaining: 5s
716:	total: 12.6s	remaining: 4.98s
717:	total: 12.6s	remaining: 4.96s
718:	total: 12.7s	remaining: 4.94s
719:	total: 12.7s	remaining: 4.93s
720:	total: 12.7s	remaining: 4.91s
721:	total: 12.7s	remaining: 4.89s
722:	total: 12.7s	remaining: 4.87s
723:	total: 12.7s	remaining: 4.86s
724:	total: 12.8s	remaining: 4.84s
725:	total: 12.8s	remaining: 4.82s
726:	total: 12.8s	remaining: 4.8s
727:	total: 12.8s	remaining: 4.78s
728:	total: 12.8s	remaining: 4.77s
729:	total: 12.8s	remaining: 4.75s
730:	total: 12.9s	remaining: 4.73s
731:	total: 12.9s	remaining: 4.72s
732:	total: 12.9s	remaining: 4.7s

733:	total: 12.9s	remaining: 4.68s
734:	total: 12.9s	remaining: 4.66s
735:	total: 13s	remaining: 4.64s
736:	total: 13s	remaining: 4.63s
737:	total: 13s	remaining: 4.61s
738:	total: 13s	remaining: 4.59s
739:	total: 13s	remaining: 4.57s
740:	total: 13s	remaining: 4.55s
741:	total: 13.1s	remaining: 4.54s
742:	total: 13.1s	remaining: 4.52s
743:	total: 13.1s	remaining: 4.5s
744:	total: 13.1s	remaining: 4.49s
745:	total: 13.1s	remaining: 4.47s
746:	total: 13.1s	remaining: 4.45s
747:	total: 13.2s	remaining: 4.43s
748:	total: 13.2s	remaining: 4.42s
749:	total: 13.2s	remaining: 4.4s
750:	total: 13.2s	remaining: 4.38s
751:	total: 13.2s	remaining: 4.36s
752:	total: 13.2s	remaining: 4.34s
753:	total: 13.3s	remaining: 4.33s
754:	total: 13.3s	remaining: 4.31s
755:	total: 13.3s	remaining: 4.3s
756:	total: 13.3s	remaining: 4.28s
757:	total: 13.3s	remaining: 4.26s
758:	total: 13.4s	remaining: 4.24s
759:	total: 13.4s	remaining: 4.23s
760:	total: 13.4s	remaining: 4.21s
761:	total: 13.4s	remaining: 4.19s
762:	total: 13.4s	remaining: 4.17s
763:	total: 13.5s	remaining: 4.16s
764:	total: 13.5s	remaining: 4.14s
765:	total: 13.5s	remaining: 4.12s
766:	total: 13.5s	remaining: 4.1s
767:	total: 13.5s	remaining: 4.09s
768:	total: 13.5s	remaining: 4.07s
769:	total: 13.6s	remaining: 4.05s
770:	total: 13.6s	remaining: 4.03s
771:	total: 13.6s	remaining: 4.02s
772:	total: 13.6s	remaining: 4s
773:	total: 13.6s	remaining: 3.98s
774:	total: 13.7s	remaining: 3.96s
775:	total: 13.7s	remaining: 3.95s
776:	total: 13.7s	remaining: 3.93s
777:	total: 13.7s	remaining: 3.91s
778:	total: 13.7s	remaining: 3.89s
779:	total: 13.7s	remaining: 3.88s
780:	total: 13.8s	remaining: 3.86s
781:	total: 13.8s	remaining: 3.84s
782:	total: 13.8s	remaining: 3.83s
783:	total: 13.8s	remaining: 3.81s
784:	total: 13.8s	remaining: 3.79s
785:	total: 13.9s	remaining: 3.77s
786:	total: 13.9s	remaining: 3.76s
787:	total: 13.9s	remaining: 3.74s
788:	total: 13.9s	remaining: 3.72s
789:	total: 13.9s	remaining: 3.7s
790:	total: 14s	remaining: 3.69s
791:	total: 14s	remaining: 3.67s
792:	total: 14s	remaining: 3.65s
793:	total: 14s	remaining: 3.63s
794:	total: 14s	remaining: 3.62s
795:	total: 14s	remaining: 3.6s
796:	total: 14.1s	remaining: 3.58s
797:	total: 14.1s	remaining: 3.56s
798:	total: 14.1s	remaining: 3.54s
799:	total: 14.1s	remaining: 3.53s
800:	total: 14.1s	remaining: 3.51s
801:	total: 14.1s	remaining: 3.49s
802:	total: 14.2s	remaining: 3.48s
803:	total: 14.2s	remaining: 3.46s
804:	total: 14.2s	remaining: 3.44s
805:	total: 14.2s	remaining: 3.42s
806:	total: 14.2s	remaining: 3.41s
807:	total: 14.3s	remaining: 3.39s
808:	total: 14.3s	remaining: 3.37s
809:	total: 14.3s	remaining: 3.35s
810:	total: 14.3s	remaining: 3.33s
811:	total: 14.3s	remaining: 3.32s
812:	total: 14.3s	remaining: 3.3s
813:	total: 14.4s	remaining: 3.28s
814:	total: 14.4s	remaining: 3.26s
815:	total: 14.4s	remaining: 3.25s
816:	total: 14.4s	remaining: 3.23s
817:	total: 14.4s	remaining: 3.21s
818:	total: 14.5s	remaining: 3.19s
819:	total: 14.5s	remaining: 3.17s
820:	total: 14.5s	remaining: 3.16s
821:	total: 14.5s	remaining: 3.14s
822:	total: 14.5s	remaining: 3.12s
823:	total: 14.5s	remaining: 3.1s
824:	total: 14.6s	remaining: 3.09s
825:	total: 14.6s	remaining: 3.07s
826:	total: 14.6s	remaining: 3.05s
827:	total: 14.6s	remaining: 3.03s
828:	total: 14.6s	remaining: 3.02s
829:	total: 14.6s	remaining: 3s
830:	total: 14.7s	remaining: 2.98s
831:	total: 14.7s	remaining: 2.96s
832:	total: 14.7s	remaining: 2.94s
833:	total: 14.7s	remaining: 2.93s
834:	total: 14.7s	remaining: 2.91s
835:	total: 14.7s	remaining: 2.89s
836:	total: 14.8s	remaining: 2.87s
837:	total: 14.8s	remaining: 2.86s
838:	total: 14.8s	remaining: 2.84s
839:	total: 14.8s	remaining: 2.82s
840:	total: 14.8s	remaining: 2.81s
841:	total: 14.9s	remaining: 2.79s
842:	total: 14.9s	remaining: 2.77s
843:	total: 14.9s	remaining: 2.76s
844:	total: 15s	remaining: 2.74s
845:	total: 15s	remaining: 2.73s
846:	total: 15s	remaining: 2.71s
847:	total: 15s	remaining: 2.69s
848:	total: 15s	remaining: 2.67s
849:	total: 15.1s	remaining: 2.66s
850:	total: 15.1s	remaining: 2.64s
851:	total: 15.1s	remaining: 2.62s
852:	total: 15.1s	remaining: 2.6s
853:	total: 15.1s	remaining: 2.59s
854:	total: 15.2s	remaining: 2.57s
855:	total: 15.2s	remaining: 2.55s
856:	total: 15.2s	remaining: 2.53s
857:	total: 15.2s	remaining: 2.52s
858:	total: 15.2s	remaining: 2.5s
859:	total: 15.2s	remaining: 2.48s
860:	total: 15.3s	remaining: 2.46s
861:	total: 15.3s	remaining: 2.45s
862:	total: 15.3s	remaining: 2.43s
863:	total: 15.3s	remaining: 2.41s
864:	total: 15.3s	remaining: 2.39s
865:	total: 15.4s	remaining: 2.38s
866:	total: 15.4s	remaining: 2.36s
867:	total: 15.4s	remaining: 2.34s
868:	total: 15.4s	remaining: 2.32s
869:	total: 15.4s	remaining: 2.3s
870:	total: 15.4s	remaining: 2.29s
871:	total: 15.5s	remaining: 2.27s
872:	total: 15.5s	remaining: 2.25s
873:	total: 15.5s	remaining: 2.23s
874:	total: 15.5s	remaining: 2.21s
875:	total: 15.5s	remaining: 2.2s
876:	total: 15.5s	remaining: 2.18s
877:	total: 15.6s	remaining: 2.16s
878:	total: 15.6s	remaining: 2.14s
879:	total: 15.6s	remaining: 2.13s
880:	total: 15.6s	remaining: 2.11s
881:	total: 15.6s	remaining: 2.09s
882:	total: 15.6s	remaining: 2.07s
883:	total: 15.7s	remaining: 2.05s
884:	total: 15.7s	remaining: 2.04s
885:	total: 15.7s	remaining: 2.02s
886:	total: 15.7s	remaining: 2s
887:	total: 15.7s	remaining: 1.98s
888:	total: 15.7s	remaining: 1.97s
889:	total: 15.8s	remaining: 1.95s
890:	total: 15.8s	remaining: 1.93s
891:	total: 15.8s	remaining: 1.91s
892:	total: 15.8s	remaining: 1.89s
893:	total: 15.8s	remaining: 1.88s
894:	total: 15.8s	remaining: 1.86s
895:	total: 15.9s	remaining: 1.84s
896:	total: 15.9s	remaining: 1.82s
897:	total: 15.9s	remaining: 1.8s
898:	total: 15.9s	remaining: 1.79s
899:	total: 15.9s	remaining: 1.77s
900:	total: 15.9s	remaining: 1.75s
901:	total: 16s	remaining: 1.73s
902:	total: 16s	remaining: 1.72s
903:	total: 16s	remaining: 1.7s
904:	total: 16s	remaining: 1.68s
905:	total: 16s	remaining: 1.66s
906:	total: 16.1s	remaining: 1.65s
907:	total: 16.1s	remaining: 1.63s
908:	total: 16.1s	remaining: 1.61s
909:	total: 16.1s	remaining: 1.59s
910:	total: 16.1s	remaining: 1.57s
911:	total: 16.1s	remaining: 1.56s
912:	total: 16.2s	remaining: 1.54s
913:	total: 16.2s	remaining: 1.52s
914:	total: 16.2s	remaining: 1.5s
915:	total: 16.2s	remaining: 1.49s
916:	total: 16.2s	remaining: 1.47s
917:	total: 16.2s	remaining: 1.45s
918:	total: 16.3s	remaining: 1.43s
919:	total: 16.3s	remaining: 1.42s
920:	total: 16.3s	remaining: 1.4s
921:	total: 16.3s	remaining: 1.38s
922:	total: 16.3s	remaining: 1.36s
923:	total: 16.3s	remaining: 1.34s
924:	total: 16.4s	remaining: 1.33s
925:	total: 16.4s	remaining: 1.31s
926:	total: 16.4s	remaining: 1.29s
927:	total: 16.4s	remaining: 1.27s
928:	total: 16.4s	remaining: 1.26s
929:	total: 16.5s	remaining: 1.24s
930:	total: 16.5s	remaining: 1.22s
931:	total: 16.5s	remaining: 1.2s
932:	total: 16.5s	remaining: 1.19s
933:	total: 16.5s	remaining: 1.17s
934:	total: 16.5s	remaining: 1.15s
935:	total: 16.6s	remaining: 1.13s
936:	total: 16.6s	remaining: 1.11s
937:	total: 16.6s	remaining: 1.1s
938:	total: 16.6s	remaining: 1.08s
939:	total: 16.6s	remaining: 1.06s
940:	total: 16.6s	remaining: 1.04s
941:	total: 16.7s	remaining: 1.03s
942:	total: 16.7s	remaining: 1.01s
943:	total: 16.7s	remaining: 991ms
944:	total: 16.7s	remaining: 973ms
945:	total: 16.7s	remaining: 955ms
946:	total: 16.7s	remaining: 937ms
947:	total: 16.8s	remaining: 920ms
948:	total: 16.8s	remaining: 902ms
949:	total: 16.8s	remaining: 884ms
950:	total: 16.8s	remaining: 866ms
951:	total: 16.8s	remaining: 849ms
952:	total: 16.8s	remaining: 831ms
953:	total: 16.9s	remaining: 813ms
954:	total: 16.9s	remaining: 796ms
955:	total: 16.9s	remaining: 778ms
956:	total: 16.9s	remaining: 760ms
957:	total: 16.9s	remaining: 743ms
958:	total: 17s	remaining: 725ms
959:	total: 17s	remaining: 707ms
960:	total: 17s	remaining: 689ms
961:	total: 17s	remaining: 672ms
962:	total: 17s	remaining: 654ms
963:	total: 17s	remaining: 636ms
964:	total: 17.1s	remaining: 619ms
965:	total: 17.1s	remaining: 601ms
966:	total: 17.1s	remaining: 583ms
967:	total: 17.1s	remaining: 566ms
968:	total: 17.1s	remaining: 548ms
969:	total: 17.1s	remaining: 530ms

970:	total: 17.2s	remaining: 513ms
971:	total: 17.2s	remaining: 495ms
972:	total: 17.2s	remaining: 477ms
973:	total: 17.2s	remaining: 460ms
974:	total: 17.2s	remaining: 442ms
975:	total: 17.2s	remaining: 424ms
976:	total: 17.3s	remaining: 406ms
977:	total: 17.3s	remaining: 389ms
978:	total: 17.3s	remaining: 371ms
979:	total: 17.3s	remaining: 353ms
980:	total: 17.3s	remaining: 336ms
981:	total: 17.3s	remaining: 318ms
982:	total: 17.4s	remaining: 300ms
983:	total: 17.4s	remaining: 283ms
984:	total: 17.4s	remaining: 265ms
985:	total: 17.4s	remaining: 247ms
986:	total: 17.4s	remaining: 230ms
987:	total: 17.5s	remaining: 212ms
988:	total: 17.5s	remaining: 195ms
989:	total: 17.5s	remaining: 177ms
990:	total: 17.5s	remaining: 159ms
991:	total: 17.6s	remaining: 142ms
992:	total: 17.6s	remaining: 124ms
993:	total: 17.6s	remaining: 106ms
994:	total: 17.6s	remaining: 88.6ms
995:	total: 17.7s	remaining: 70.9ms
996:	total: 17.7s	remaining: 53.2ms
997:	total: 17.7s	remaining: 35.4ms
998:	total: 17.7s	remaining: 17.7ms
999:	total: 17.7s	remaining: 0us

In [140]:
pred[:,1]

array([0.484439  , 0.39082388, 0.17530693, ..., 0.37012055, 0.24169588,
       0.42842214])

In [142]:
# submission

submission = pd.DataFrame({'Patient_ID': test.Patient_ID,
                         'Health_Camp_ID': test.Health_Camp_ID,
                         'Outcome':pred[:,1]})

In [144]:
submission.head()

   Patient_ID  Health_Camp_ID   Outcome
0      505701            6548  0.484439
1      500633            6584  0.390824
2      506945            6582  0.175307
3      497447            6551  0.445131
4      496446            6533  0.162000

In [146]:
submission.to_csv('VotingModel.csv', index = False)  #0.6303

In [158]:
# using LGBM

In [147]:
from lightgbm import LGBMClassifier

In [151]:
lgbm = LGBMClassifier(n_estimators = 500, max_depth = 10, random_state = 10, learning_rate= 0.01)

pred_lgbm = lgbm.fit(X,y).predict_proba(newtest)

In [152]:
pred_lgbm[:1]

array([[0.30458491, 0.69541509]])

In [155]:
# submission

submission2 = pd.DataFrame({'Patient_ID': test.Patient_ID,
                         'Health_Camp_ID': test.Health_Camp_ID,
                         'Outcome':pred_lgbm[:,1]})

In [156]:
submission2.head()

   Patient_ID  Health_Camp_ID   Outcome
0      505701            6548  0.695415
1      500633            6584  0.409714
2      506945            6582  0.179618
3      497447            6551  0.453857
4      496446            6533  0.066385

In [157]:
submission2.to_csv('lgbmmodel.csv', index = False)  #0.6277

In [159]:
# rfecv and cross validation

In [160]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import RFECV

In [161]:
dtree = DecisionTreeClassifier()

In [165]:
rfe = RFECV(estimator = dtree, step= 1, min_features_to_select== 5, cv = 5, verbose= 5)

In [166]:
rfe.fit(X,y)
features = list(rfe.get_feature_names_out())
print(features)

Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
['Var1', 'Var5', 'Category1', 'Registration_Month', 'Registration_Year', 'Registration_Day', 'Camp_Start_Day', 'Camp_End_Day', 'Online_presence', 'Camp_Duration', 'Interaction_Diff', 'HC_per_patient', 'Patient_per_HC', 'Patient_per_month']

In [167]:
# rfe features

rfe_input = X.loc[:,features]
rfe_test = newtest.loc[:,features]

In [170]:
rfe_input.shape, rfe_test.shape

((75278, 14), (35249, 14))

In [172]:
lgbm = LGBMClassifier(n_estimators = 500, max_depth = 10, random_state = 10, learning_rate= 0.01)

pred_rfe_lgbm = lgbm.fit(rfe_input,y).predict_proba(rfe_test)

In [173]:
#submission

submission3 = pd.DataFrame({'Patient_ID': test.Patient_ID,
                         'Health_Camp_ID': test.Health_Camp_ID,
                         'Outcome':pred_rfe_lgbm[:,1]})

In [174]:
submission3.head()

   Patient_ID  Health_Camp_ID   Outcome
0      505701            6548  0.656580
1      500633            6584  0.600173
2      506945            6582  0.102796
3      497447            6551  0.668019
4      496446            6533  0.049789

In [176]:
submission3.to_csv('rfemodel.csv', index = False)  #0.6306

In [177]:
# cross validation

In [178]:
from sklearn.model_selection import KFold

In [184]:
kfold = KFold(n_splits = 5, shuffle = True)
lgbm = LGBMClassifier(n_estimators = 500,
                     max_depth = 10, random_state = 42,
                     learning_rate = 0.01,
                     scale_pos_weight = 3)

pred_df = pd.DataFrame()

n=5
for i in range(n):
    folds = next(kfold.split(X))  #next helps you iterate over your folds
    xtrain = X.iloc[folds[0]]  #builds xtrain data
    ytrain = y.iloc[folds[0]]  #creates y value
    lgbm.fit(xtrain, ytrain)
    pred_df[i] = lgbm.predict_proba(newtest)[:, 1]

In [185]:
median_prob = pred_df.median(axis = 1)

In [187]:
submission4 = pd.DataFrame({'Patient_ID': test.Patient_ID,
                         'Health_Camp_ID': test.Health_Camp_ID,
                         'Outcome':median_prob})

submission4.to_csv('Median_probmodel.csv', index = False)  #0.6302

## Summary

* Model performance drastically gets impacted by the feature engineering
* We saw that LGBM performed the best among all fro this competition leading at #2 in public leaderboard
* We saw RFECV features did not performed well
* Parameter tuning of LGBM can take the model Performance to whole new level
* Cross validation model for lgbm did a fantastic job earning us few brownie points in the leaderboard